In [1]:
import pandas as pd
import numpy as np

In [2]:
c1 = pd.read_csv("cars1.csv")

In [3]:
c2 = pd.read_csv("cars2.csv")

# Ways to Delete Column

In [4]:
c1 = c1.drop(['Unnamed: 10'], axis='columns')

In [5]:
del c1['Unnamed: 11']

In [6]:
c2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

# Rename

In [ ]:
y = c1.rename(columns={'mpg':'target'})

# Slicing Data

In [7]:
c11 = c1.iloc[5:10]
c12 = c1.loc[:,:'model']

In [21]:
col = list(c1.columns)
start = col.index('mpg')
end = col.index('car')
c13 = c1[col[start:end+1]]

In [18]:
c1[c1.index<10]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,NaN,NaN,NaN
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,NaN,NaN,NaN
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,NaN,NaN,NaN
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,NaN,NaN,NaN
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,NaN,NaN,NaN